@charset "utf-8";
.key {
    color: #FFED00;
    background-color: #EAC6FC;
    font-size: x-large;
}
body h1 {
    color: #FF9E00;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 40px;
}

body {
    background-image: url(flower-back1127.jpg);
	color: white;

}
.p {
    color: #FFFFFF;
}

body p img {
    border: 10px dotted #2BC053;
}
